{% extends "layout.html" %}

{% block title %}
        Hitory
{% endblock %}

{% block main %}
    <table class = "table table-strpied">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for trans in transactions %}
            <tr>
                <td>{{trans["symbol"]}}</td>
                <td>{{trans["shares"]}}</td>
                <td>{{trans["price"]}}</td>
                <td>{{trans["transacted"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}